# Ignore all .log files
*.log

# Ignore the bin and obj directories
bin/
obj/
x64/
SugiotKeylogger/x64
Debug/

# Ignore a specific file (path to file)

# Ignore all files in a specific folder (folder/*)

